/* reset de css - para limpar todas as config de navegadores
o box-sizing:border-box "deixa mais facil estilizar as caixas sem somar"*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*removendo os pontinhos da lista*/
ul {
    list-style: none;
}

body {
    background-image: url(./src/imagens/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
    
}



body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    
}


/* header - equivalente = área da imagem */
header {
    padding-top: 32px;
    height: calc(120px + 32px);
    
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #3904b4 20%,  #0067c7 40%,#00ada4 60.00%, #43e782 80.00%, #c5f100 100%); 
    
    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover {
    transform: scale(1.2)
}


/* imagem */
header div img {
    width: 100%;
    border-radius: 50%;
    
}
 /* área das caixas abaixo da imagem */
main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: grid;
    gap: 24px;
    
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #3904b4 20%,  #0067c7 40%,#00ada4 60.00%, #43e782 80.00%, #c5f100 100%); 
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1)
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%; 
    width: 70px;
    border: 1px solid #443E54;
}

/* animation */

header div {
    animation: fromTop 0.6s .2s backwards;
}

main section {
    animation: fromBottom .4s backwards;
}

main section:nth-child(1) {
    animation-delay: .2s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}